In [2]:
# Importing necessary libraries
import pandas as pd
# pd.set_option('display.max_colwidth', -1)
df = pd.read_csv('./_resources/Pandas - Jeopardy.csv')

In [3]:
# Task 1 - Inspect the dataset

print(df.head(10))
print(df.info())
print(df.columns)

   Show Number    Air Date      Round                         Category  Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY   $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES   $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...   $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE   $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES   $200
5         4680  2004-12-31  Jeopardy!                   3-LETTER WORDS   $200
6         4680  2004-12-31  Jeopardy!                          HISTORY   $400
7         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES   $400
8         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...   $400
9         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE   $400

                                            Question          Answer
0  For the last 8 years of his life, Galileo was ...      Copernicus
1  No. 2: 1912 Olympian; football star at Carlisl...      Jim Thorpe
2  The city of Yuma in this state has a record av...         Arizona
3  In 1963, live on "The Art Linkletter Show", th...      McDonald's
4  Signer of the Dec. of Indep., framer of the Co...      John Adams
5  In the title of an Aesop fable, this insect sh...         the ant
6  Built in 312 B.C. to link Rome & the South of ...  the Appian Way
7  No. 8: 30 steals for the Birmingham Barons; 2,...  Michael Jordan
8  In the winter of 1971-72, a record 1,122 inche...      Washington
9  This housewares store was named for the packag...  Crate & Barrel
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Show Number  216930 non-null  int64
 1    Air Date    216930 non-null  object
 2    Round       216930 non-null  object
 3    Category    216930 non-null  object
 4    Value       216930 non-null  object
 5    Question    216930 non-null  object
 6    Answer      216928 non-null  object
dtypes: int64(1), object(6)
memory usage: 11.6+ MB
None
Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [4]:
# Task 2 - Filter Questions to ones that features the words in list "words"
def filter_questions(df, words):
    # The all() function returns True if all elements in the list are true (or the list is empty).
    # In this case, if all words in the query list 'words' are present in the particular row of question column.
    filtered_df = df[df[' Question'].apply(lambda row: all(word.lower() in row.lower() for word in words))]
    return filtered_df

# Test 1
words = ["King", "England"]
filtered_questions = filter_questions(df, words)
print(filtered_questions.head())

       Show Number    Air Date             Round               Category  \
4953          3003  1997-09-24  Double Jeopardy!           "PH"UN WORDS
6337          3517  1999-12-14  Double Jeopardy!                    Y1K
9191          3907  2001-09-04  Double Jeopardy!         WON THE BATTLE
11710         2903  1997-03-26  Double Jeopardy!       BRITISH MONARCHS
13454         4726  2005-03-07         Jeopardy!  A NUMBER FROM 1 TO 10

       Value                                           Question  \
4953    $200  Both England's King George V & FDR put their s...
6337    $800  In retaliation for Viking raids, this "Unready...
9191    $800  This king of England beat the odds to trounce ...
11710   $600  This Scotsman, the first Stuart king of Englan...
13454  $1000  It's the number that followed the last king of...

                             Answer
4953   Philately (stamp collecting)
6337                       Ethelred
9191                        Henry V
11710                       James I
13454                             4

In [5]:
# Task 3 - Test other words
words = ["sleep", "night"]
filtered_questions = filter_questions(df, words)
print(filtered_questions.head())

       Show Number    Air Date             Round          Category  Value  \
4603          5512  2008-07-22  Double Jeopardy!             SLEEP  $1200
27389         5908  2010-04-28         Jeopardy!  AT THE DRUGSTORE   $200
31031         2049  1993-07-01  Double Jeopardy!   GENERAL SCIENCE  $1000
41529         3853  2001-05-09         Jeopardy!       HAIR DON'TS   $300
43078         5583  2008-12-10  Double Jeopardy!    STORIED HOTELS  $2000

                                                Question        Answer
4603   (<a href="http://www.j-archive.com/media/2008-...  somnambulism
27389  It's the "nighttime, sniffling, sneezing, coug...        NyQuil
31031  Normally, the periods of this type of sleep ar...     REM sleep
41529  Rhyming term for the condition of your coiffur...      bed head
43078  In chap. 1 of this novel, Jonathan Harker spen...       Dracula

In [6]:
# Task 4 - Convert values to float for aggregate calculations
def convert_value_to_float(df):
    # Replace 'no value' and other invalid entries with NaN
    df['Value'] = df[' Value'].replace({'no value': None, 'None': None})
    # Convert all values to strings, then remove '$' and ',' before converting to float
    df['Value'] = pd.to_numeric(df['Value'].astype(str).str.replace('$', '', regex=False).str.replace(',', '', regex=False), errors='coerce')
    # Coerce means that if conversion fails, it will set the value to NaN instead of raising an error.
    # This is useful for handling any non-numeric values that may be present in the column.
    return df

# Review converted values
converted_df = convert_value_to_float(df)
print(converted_df['Value'].head())

# Test
mean_value = converted_df['Value'].mean()
print(f"Mean Value: {mean_value}")

0    200.0
1    200.0
2    200.0
3    200.0
4    200.0
Name: Value, dtype: float64
Mean Value: 752.5959230365314

In [ ]:
# Task 5 - Count the instances of words in list "words" 
# (i.e., how many questions feature this word or combintation of words)
def unique_values_count(df, words):
    # Filter the dataframe to the query list
    filtered_df = df[df[" Question"].apply(lambda row: all(word.lower() in row.lower() for word in words))]
    # Use nunique() to count unique values in the specified column
    unique_count = filtered_df[" Answer"].nunique()
    return unique_count

# Test
words = ["hand"]
unique_values_count = unique_values_count(df, words)
print(f"Unique values count for words {words}: {unique_values_count}")

TypeError: can only concatenate str (not "list") to str

In [8]:
# Task 6.1 - Count the instances of certain words within questions from certain time periods
 #* Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
def filter_by_year_and_word(df, year_range, words):
    # Filter the dataframe by year range and check if all words are present in the question
    filtered_df = df[
        (df[' Air Date'].str.contains(year_range)) &
        (df[' Question'].apply(lambda question: all(word.lower() in question.lower() for word in words)))
    ]
    return filtered_df

# Test
words = ["Business"]
year_1990s = "199"
year_2000s = "200" 
filtered_1990s = filter_by_year_and_word(df, year_1990s, words)
filtered_2000s = filter_by_year_and_word(df, year_2000s, words)
print(f"Number of questions from the 1990s that contained the word(s) - {words}: {len(filtered_1990s)}")
print(f"Number of questions from the 2000s that contained the word(s) - {words}: {len(filtered_2000s)}")

Number of questions from the 1990s that contained the word(s) - ['Business']: 133
Number of questions from the 2000s that contained the word(s) - ['Business']: 311

In [9]:
# Task 6.2 - Understanding category topics by single or double jeopardy
def round_category_count(df, category_name):
    rounds = ["Jeopardy!", "Double Jeopardy!"]
    
    for round_name in rounds:
        # Filter the dataframe by the current round and category
        filtered_df = df[
            (df[' Round'] == round_name) & 
            (df[' Category'].str.contains(r'\b' + category_name + r'\b', case=False))
        ]
        
        # Count unique categories and list them
        count = len(filtered_df[' Category'].unique())
        list_of_categories = filtered_df[' Category'].unique()

        print(f"Number of categories in {round_name} mentioning '{category_name}' in the category name: {count}")
        print(f"Number of questions in {round_name} mentioning '{category_name}' in the category name: {len(filtered_df)}")
        print(f"\n")
        j = 0
        for i, category in enumerate(list_of_categories, start=1):
            print(f"{i}: {category} - {len(filtered_df[filtered_df[' Category'] == category])} questions")
            # Can we print the questions that mention the category name?
            questions = filtered_df[filtered_df[' Category'] == category][' Question'].tolist()
            print(f"\n")
            for question in questions:
                j += 1
                # Print the question and its answer
                print(f"--- {j}. {question}. (Answer: " + filtered_df[filtered_df[' Question'] == question][' Answer'].values[0] + ")")
            print("\n")

round_category_count = round_category_count(df, "snl")

Number of categories in Jeopardy! mentioning 'snl' in the category name: 8
Number of questions in Jeopardy! mentioning 'snl' in the category name: 45


1: SNL CELEBRITY JEOPARDY! - 5 questions


--- 1. As he did in "Anchorman", Will Ferrell sports this facial feature in the "SNL" "Jeopardy!" skits. (Answer: a mustache)
--- 2. Darrell Hammond played this Scottish actor who...  Nope, I can't say anything else; just name him. (Answer: Sean Connery)
--- 3. Norm MacDonald played this "Smokey and the Bandit" star who had a slight problem IDing Pat Morita's ancestry. (Answer: Burt Reynolds)
--- 4. Ben Stiller played this star of "The Firm" on a show where one category was "FOODS THAT END IN 'AMBURGER'". (Answer: Tom Cruise)
--- 5. Kristen Wiig played this "Today" co-host, who, like so many of our players, brought Chardonnay on stage. (Answer: Kathie Lee Gifford)


2: CHEVY CHASE ON SNL - 5 questions


--- 6. (<a href="http://www.j-archive.com/media/2011-03-28_J_01.jpg" target="_blank">Chevy Chase delivers the clue from the set of <i>Community</i>.</a>)  On "Weekend Update", I announced "Our top story tonight: Generalissimo" this man "is still dead". (Answer: Franco)
--- 7. (<a href="http://www.j-archive.com/media/2011-03-28_J_02.jpg" target="_blank">Chevy Chase delivers the clue from the set of <i>Community</i>.</a>)  In 1986, 10 years after I played at least a small part in denying this man a new term, I met him at a conference on humor & the presidency held at his museum. (Answer: Gerald Ford)
--- 8. (<a href="http://www.j-archive.com/media/2011-03-28_J_03.jpg" target="_blank">Chevy Chase delivers the clue from the set of <i>Community</i>.</a>)  When I checked into "Samurai Hotel", Richard Pryor & this actor argued with swords, over who'd carry my bags to my room. (Answer: John Belushi)
--- 9. (<a href="http://www.j-archive.com/media/2011-03-28_J_04.jpg" target="_blank">Chevy Chase delivers the clue from the set of <i>Community</i>.</a>)  I played this "SNL" character who tried to gain entry into peoples' homes by claiming to be a plumber, a dolphin & a deliverer of a "candygram". (Answer: the landshark)
--- 10. (<a href="http://www.j-archive.com/media/2011-03-28_J_05.jpg" target="_blank">Chevy Chase delivers the clue from the set of <i>Community</i>.</a>)  I told Gilda Radner, "I don't know, Babs, but I do know this--you've really let" this small, fleshy item that hangs from the soft palate "go to the dogs". (Answer: your uvula)


3: SNL ACTORS & THEIR CHARACTERS - 5 questions


--- 11. Roseanne Roseannadanna. (Answer: (Gilda) Radner)
--- 12. The Church Lady. (Answer: (Dana) Carvey)
--- 13. Bill Clinton, Chris Matthews & Dick Cheney. (Answer: Darrell Hammond)
--- 14. Amber, the one-legged, hypoglycemic reality show contestant. (Answer: Amy Poehler)
--- 15. The Target Clerk & master of one-upwomanship Penelope. (Answer: (Kristen) Wiig)


4: SNL PRESIDENTIAL PLAYERS - 5 questions


--- 16. Chris Elliot, Tim Meadows, Phil Hartman & Darrell Hammond have all played this 42nd president. (Answer: Bill Clinton)
--- 17. Chevy Chase was known for taking a tumble or two when playing this 38th president. (Answer: Gerald Ford)
--- 18. In 1976 Dan Aykroyd did his first televised impression of this presidential candidate. (Answer: Jimmy Carter)
--- 19. Dana Carvey not only played Bush Sr. during the '92 race, he also played this independent Texan challenger. (Answer: Ross Perot)
--- 20. In a cartoon by Robert Smigel, Ford & Bush the First are among these title superheroes (now in paperback). (Answer: the X-Presidents)


5: SNL ON FILM - 5 questions


--- 21. Jake & Elwood are on a mission from God in this film. (Answer: Blues Brothers)
--- 22. 2 friends are on a mission with their Illinois public access show in this film. (Answer: Wayne's World)
--- 23. 2 aliens from the planet Remulak are on a mission to raise their teen daughter in this film. (Answer: Coneheads)
--- 24. Will Ferrell & Chris Kattan are on a mission to get into the best club in town & open their own in this film. (Answer: A Night at the Roxbury)
--- 25. Julia Sweeney is on a mission to have a relationship with Chris, a person of indeterminate sex in this film. (Answer: It's Pat)


6: SNL ALUMNI - 5 questions


--- 26. In 1998 he hit the big screen as "Dr. Dolittle". (Answer: Eddie Murphy)
--- 27. She plays Dr. Mary Albright on TV's "3rd Rock From The Sun". (Answer: Jane Curtin)
--- 28. In 1991's "Father Of The Bride", he played wedding planner Franck Eggelhoffer. (Answer: Martin Short)
--- 29. This comic seen here recently hit the streets in "Lethal Weapon 4". (Answer: Chris Rock)
--- 30. This one-time regular got an Oscar nomination for her role as the frustrated fiancee in "In & Out". (Answer: Joan Cusack)


7: SNL CATCHPHRASES - 10 questions


--- 31. 3-word phrase that followed "Good Evening, I'm Chevy Chase...". (Answer: and you're not)
--- 32. It was how everyone looked according to Fernando, the talk show host played by Billy Crystal. (Answer: mahvelous)
--- 33. In a parody of the debates on "60 Minutes", he spoke the immortal line "Jane, you ignorant slut". (Answer: Dan Aykroyd)
--- 34. (Hi, I'm Rob Schneider)  My "SNL" character Richard "The Richmeister" Laymer coined this 2-word catchphrase for Xeroxing. (Answer: "makin' copies")
--- 35. This comic played pathological liar Tommy Flanagan, whose wife was "Morgan Fairchild, yeah, that's the ticket". (Answer: Jon Lovitz)
--- 36. "Well, isn't that special". (Answer: Dana Carvey)
--- 37. "It's always something". (Answer: Gilda Radner)
--- 38. "Schwing!". (Answer: Mike Myers)
--- 39. "We are two wild and crazy guys". (Answer: Steve Martin & Dan Aykroyd)
--- 40. "You'll be livin' in a van down by the river". (Answer: Chris Farley)


8: THE SNL ALUMNUS WHO... - 5 questions


--- 41. Played Bluto in "Animal House". (Answer: John Belushi)
--- 42. Played "Deuce Bigalow: Male Gigolo". (Answer: Rob Schneider)
--- 43. Played anchorman Bill McNeal on TV's "NewsRadio". (Answer: (Phil) Hartman)
--- 44. Did a regular stint as a commnetator for "Monday Night Football". (Answer: Dennis Miller)
--- 45. Starred as the "Beverly Hills Ninja". (Answer: (Chris) Farley)


Number of categories in Double Jeopardy! mentioning 'snl' in the category name: 2
Number of questions in Double Jeopardy! mentioning 'snl' in the category name: 10


1: SNL ALUMNI - 5 questions


--- 1. This just in to "Weekend Update" -- this "Fall Guy" was SNL's first breakout star. (Answer: Chevy Chase)
--- 2. Man oh man, his characters included Operaman & Cajunman. (Answer: Adam Sandler)
--- 3. In 1999 he pumped up nightclubs with a musical tribute to his hero Frank Sinatra. (Answer: Joe Piscopo)
--- 4. He was "Berry Berry Good" as ballplayer Chico Escuela & more recently as Uncle Junior on "The Jamie Foxx Show". (Answer: Garrett Morris)
--- 5. It's not Pat but this comic who starred in the one-woman show & movie "God Said 'Ha!'". (Answer: Julia Sweeney)


2: SNL ACTORS IN THE MOVIES - 5 questions


--- 6. "Joliet" Jake Blues. (Answer: John Belushi)
--- 7. Mrs. Prymaat Conehead. (Answer: Jane Curtin)
--- 8. Axel Foley. (Answer: Eddie Murphy)
--- 9. Wayne Campbell. (Answer: Mike Myers)
--- 10. Joe Dirt. (Answer: David Spade)

In [10]:
# Task 6.3 - Build a Quiz System
import random
def quiz_user(df, num_questions=5):
    # Randomly sample questions from the dataframe
    sampled_questions = df.sample(n=num_questions)
    
    score = 0
    for index, row in sampled_questions.iterrows():
        print(f"Category: {row[' Category']}")
        print(f"Question: {row[' Question']}")
        user_answer = input("Your answer: ")
        
        # Check if the user's answer is correct (case insensitive)
        if user_answer.lower() == row[' Answer'].lower():
            print("Correct!")
            score += 1
        else:
            print(f"Wrong! The correct answer is: {row[' Answer']}")
        print("\n")
    
    print(f"Your score: {score}/{num_questions}")

# Test
quiz_user(df, num_questions=3)

Category: EUROPEAN CITIES
Question: One of Norway's best-known resorts, it hosted the 1994 Winter Olympics
Wrong! The correct answer is: Lillehammer


Category: THE 1950's
Question: San Francisco police confiscated this beat poet's epic "Howl" when it first came out
Wrong! The correct answer is: Allen Ginsberg


Category: THE "W.B."
Question: It's worn by a novice in judo or karate
Wrong! The correct answer is: White belt


Your score: 0/3